*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NeueHaasGroteskText Pro';
}
body{
    font-size: 20px;
    color: rgb(0, 0, 0, 0.8);
    background-image: linear-gradient(-30deg,rgb(224,237,244), rgb(196, 230, 245));
    height: 100vh ;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0, 0.8);
}

/* ------------------------------ NAV_HEAD ----------------------------------------- */

.container_nav {
    width: 85%;
    margin: 40px auto;
}
.head {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.nav_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto  
}

.nav_menu, .nav_more {
    width: 35%;
    
}
.nav_logo {
    width: 30%;
    text-align: center;
}
.nav_logo img {
    width: 250px;
    margin:  auto;
}
.nav_menu_item {
    margin-right: 40px;
}
.nav_more_item {
    float: right;
    margin-left: 40px;
}



/* ======================================== Form Signin ============================================= */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.form_signin_container {
    border-radius: 5px;
    background-color: white;
}

.form_signin {
    margin: 40px;
}

.form_signin_item_1 {
    text-align: center;
}

.form_signin_title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form_signin_description {
    font-size: 16px;
    color: rgb(0, 0, 0, 0.35);
}

.form_signin_item_2 {
    margin-top: 50px;
}

.email {
    position: relative;
}

.fa-envelope{
    position: absolute;
    left: 20px;
    transform: translateY(14px);
}

.password {
    margin: 15px 0;
    position: relative;
}

.fa-lock {
    position: absolute;
    left: 20px;
    transform: translateY(28px);
}

.form_signin_item_2 input {
    padding: 18px ;
    width: 400px;
    border-radius: 7px;
    border: 1px solid #ccc;
}

.form_signin_item_2 i {
    font-size: 25px;
}

.form_signin_item_2 ::placeholder {
    padding-left: 40px;
    font-size: 16px;
}

.btn {
    padding: 14px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 17px;
    border-radius: 7px;
    cursor: pointer;
}

.register {
    width: 100%;
    text-align: center;
    margin: 30px 0 0 0;
}

.register a {
    color: rgb(0, 0, 0, 0.8);
    font-size: 16px;
    text-decoration: underline;
}

.forgot_password {
    font-size: 16px;
    color: rgb(0, 0, 0, 0.35);
    margin-top: 40px;
}

.forgot_password a {
    font-size: 17px;
    text-decoration: underline;
}